{% extends "base.html" %}

{% block titulo %} Lista de articulos {% endblock %}

{% block contenido %} 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo articulo</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Articulos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for articulo in articulos %}
                    <tr>
                        <td>{{ articulo.id }}</td>
                        <td>{{ articulo.nombre }}</td>
                        <td>{{ articulo.cantidad }}</td>
                        <td>{{ articulo.descripcion }}</td>
                        <td>
                            <a name="" id="" class="btn btn-input" href="{% url 'editar' articulo.id %}" role="button">Editar</a> 
                            | 
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' articulo.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>  
{% endblock %}